<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Catalog</title>
</head>
<body>
<header>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="navbar-wrapper uk-container">
            <div class="uk-navbar-left">

                <a class="uk-navbar-item uk-logo" href="/">Catalog App</a>

            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li class="uk-active"><a href="/logout">
                            <button class="uk-button uk-button-primary">Logout</button>
                        </a></li>
                    {% else %}
                        <li class="uk-active"><a href="/login">
                            <button class="uk-button uk-button-primary">Login</button>
                        </a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>
<div class="uk-container">
    {% block content %}
    {% endblock %}
</div>
<!-- jQuery is required -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>
</body>
</html>