{% extends 'base.html' %}
{% block content %}
    <div uk-grid>
        <div class="uk-width-1-4@m"></div>
        <div class="uk-width-1-2@m">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            {% if current_user.is_authenticated %}
                <div>
                    <a href="/catalog/{{ category }}/{{ item.id }}/edit">Edit</a>
                    <a href="/catalog/{{ category }}/{{ item.id }}/delete">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}